<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:align="left" class="tg">
  <h2>Users</h2>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Age</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr th:each="user:${users}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.name}"></td>
      <td th:text="${user.getSurname()}"></td>
      <td th:text="${user.age}"></td>
      <td><button><a th:href="@{/users/edit/{id}(id=${user.id})}">Edit</a></button></td>
      <td>
        <form th:action="@{/users/delete/{id}(id=${user.id})}" method = "post">
          <input type = "submit" value = "Delete">
        </form>
      </td>
    </tr>
  </table>
</div>
<h1> Create new user </h1>
<form method="post" action="/users/newUser">
  <label> Name:
    <input name="name" placeholder="Name">
  </label>

  <label> Surname:
    <input name="surname" placeholder="Surname">
  </label>

  <label> Age:
    <input name="age" placeholder="Age">
  </label>
  <input type="submit" value="Add user">
</form>
<h1>  </h1>
<br>
</body>
</html>